body,img,ul,li{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    background: #99e379; /* Old browsers */
	background: -moz-linear-gradient(left,  #99e379 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #99e379 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #99e379 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#header{
    width: 100%;
    height: 200px;
}

.logo>a>img{
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
}

/* side-bar style start */
#sidebar{
    width: 100px;
    height:450px;
    position: fixed;
    right: 0px;
    top:calc(50% - 400px / 2);
    border: 1px solid #f2d154;
/*     丸い角 */
    border-radius: 10px 0px 0px 10px;
    z-index: 30;
}
#sidebar>p{
    font-style: italic;
    text-align: center;
    font-size: 20px;
/*     color:#f2d154; */
    animation: bound-anim 1.5s infinite, color-change 3s linear infinite;
}
/* make bound */
@keyframes bound-anim {
	0% {
        top: 0;transform: scale(1);
    }
	50% {
        transform: scale(1.7);
    }
}
/* color change */
@keyframes color-change {
    0%,100%{
        color:#ff1493;
    }
    25%{
        color:#8b4513;
    }
    50%{
        color:#0091EA;
    }
    75%{
        color:#9400d3;
    }
}
#sidebar>div{
    margin-top:18px;
    text-align: center;
    animation: poyoyon 3s infinite;
    opacity: 1;
}
/* icon shake */
@keyframes poyoyon {
    0%, 40% {
        transform: skew(0deg, 0deg);
    }
    5% {
        transform: skew(5deg, 5deg);
    }
    10% {
        transform: skew(-4deg, -4deg);
    }
    15% {
        transform: skew(3deg, 3deg);
    }
    20% {
        transform: skew(-2deg, -2deg);
    }
    25% {
        transform: skew(1deg, 1deg);
    }
    30% {
        transform: skew(-0.6deg, -0.6deg);
    }
    35% {
        transform: skew(0.3deg, 0.3deg);
    }
}
/* side-bar style end */

/*navbar style start */
.nav {
    display: flex;
    height: 2rem;
    margin: 0 auto;
    width: 1200px;
}
.nav > li {/*25%にする*/
    width: 25%;
}
.nav li {
    list-style: none;
    position: relative;
}
.nav li a {
    background: #001b34;
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.nav li li {
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.nav li li a {
    border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
    height: 50px;
    overflow: visible;
}
/*navbar style end */

#Concept {
    margin:0px auto; 
	width:1200px;
	padding-top: 40px;
	border-bottom: inset; border-bottom-color: #973738;
}

#Main{
	margin:0px auto; 
	width:1200px;
	height: 550px;
	padding-top: 40px;
	padding-bottom: 90px;
}

#Aboutus{
	float: left;
	width: 600px;
	height: 168px;
}

#Googlemap{
	float: right;
	width: 600px;
	padding-top: 17px;
}

.maintext {
	font-size: 23pt;
	FILTER: shadow(color=#af2dco); 
	WIDTH: 100%; COLOR: #730404; 
	LINE-HEIGHT: 100%; 
	font-family: "Lucida Calligraphy";
}

.maintext3 {
	font-size: 13.35pt;
	WIDTH: 100%; COLOR: #000000; 
	LINE-HEIGHT: 100%; 
	font-family: "source-sans-pro";
}

.maintext2 {
	font-style: italic; font-size: 13.35pt;
	WIDTH: 100%; color: #D52023;
	LINE-HEIGHT: 100%; 
	font-family: "source-sans-pro";
}

#Aboutus img {
    margin-left: 73px;
	margin-top: 13px;
}

#Main #Aboutus p {
    margin-left: 70px;
	margin-top: 30px;
}
#footer{ 
	margin-top: 40px;
    border-top: solid #A44B4B;
    border-width: 15px;
    position:relative;  
    height:150px;
    width:100%; 
}

.text {
    color: #424242;
    font-family: Lato;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
} 
.text2 {
    color: #424242;
    font-family: Lato;
    font-size: 35px;
    text-align: center;
    margin-top: -30px;
}  
.text3 {
    color: #424242;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}  
.text4 {
    color: #424242;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}  
.text5 {
    color: #424242;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}  
.text6 {
    color: #424242;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}  